@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  background-color: hsl(217, 54%, 11%);
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 50%, 16%);
  width: 350px;
  padding: 25px;
  border-radius: 15px;
  transform: scale(0.8);
  /* transform: translate(-50%, -50%); */
}

section > img {
  width: 350px;
  border-radius: 15px;
}

hr {
  border: 1px solid hsl(215, 32%, 27%);
}

.informacoes > p:first-of-type {
  color: hsl(0, 0%, 100%);
  font-size: 1.5em;
  font-weight: 400;
}

.informacoes > p:nth-child(2) {
  font-size: 1.2em;
  color: hsl(215, 51%, 70%);
}

.avatar {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.avatar > strong {
  margin-left: 5px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}

.avatar > img {
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 15px;
}

.valores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valores p:first-of-type {
  display: flex;
  color: hsl(178, 100%, 50%);
}

.valores p:first-of-type > img,
p:nth-child(2) > img {
  margin-right: 8px;
}

.valores p:nth-child(2) > img {
  width: 20px;
}

.valores p:nth-child(2) {
  display: flex;
  color: hsl(215, 51%, 70%);
}

.attribution {
  color: hsl(215, 51%, 70%);
  font-weight: bolder;
  font-size: 0.6875rem;
  text-align: center;
  width: 400px;
  margin: auto;
}

.attribution a {
  color: hsl(0, 0%, 100%);
}
