@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 50%, 16%);
  width: 350px;
  padding: 25px 25px 10px 25px;
  border-radius: 15px;
  transform: scale(0.8);
  /* transform: translate(-50%, -50%); */
}

.container-imagem {
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
  z-index: 1;
}

.container-imagem > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.img-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: background-color 0.7s ease;
  z-index: 2;
}

.img-hover > img {
  position: absolute;
  width: 80px;
  height: 80px;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
  opacity: 0;
}

.container-imagem:hover .img-hover {
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0.199);
}

.container-imagem:hover .img-hover > img {
  z-index: 2;
  opacity: 1;
}

hr {
  border: 1px solid hsl(215, 32%, 27%);
}

.informacoes > p:first-of-type {
  color: hsl(0, 0%, 100%);
  font-size: 1.5em;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.5s ease;
}

.informacoes > p:first-of-type:hover {
  color: hsl(178, 100%, 50%);
}

.informacoes > p:nth-child(2) {
  font-size: 1.2em;
  color: hsl(215, 51%, 70%);
  cursor: pointer;
  transition: color 0.5s ease;
}

.informacoes > p:nth-child(2):hover {
  color: hsl(178, 100%, 50%);
}

.avatar {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.avatar > strong {
  margin-left: 5px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: color 0.5s ease;
}

.avatar > strong:hover {
  color: hsl(178, 100%, 50%);
}

.avatar > img {
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 15px;
}

.valores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valores p:first-of-type {
  display: flex;
  color: hsl(178, 100%, 50%);
}

.valores p:first-of-type > img,
p:nth-child(2) > img {
  margin-right: 8px;
}

.valores p:nth-child(2) > img {
  width: 20px;
}

.valores p:nth-child(2) {
  display: flex;
  color: hsl(215, 51%, 70%);
}

.attribution {
  color: hsl(215, 51%, 70%);
  font-weight: bolder;
  font-size: 0.6875rem;
  text-align: center;
  width: 289px;
  margin: auto;
}

.attribution a {
  color: hsl(0, 0%, 100%);
}
